body{
font-family:Arial;
background:#081423;
margin:0;
color:white;
}

header{
text-align:center;
padding:20px;
font-size:28px;
color:#ff2e2e;
background:#050c18;
font-weight:bold;
}

.search{
width:90%;
margin:20px auto;
display:block;
padding:12px;
border-radius:10px;
border:none;
font-size:16px;
}

.card{
background:#13243b;
margin:15px;
padding:20px;
border-radius:15px;
text-align:center;
}

button{
background:#ff2e2e;
border:none;
padding:10px 20px;
border-radius:8px;
color:white;
cursor:pointer;
}
